<div class="section hidden" id="quiz">
        <h2>🎓 Quick Quiz!</h2>
        <p style="font-style: italic; color: #555;">You need at least 66% to pass the quiz.</p>
        <p id="quizQuestion">Why are hashes useful in blockchain?</p>
        <div id="quizOptions"></div>

        <div>
            <span class="progress-label">Completion Progress:</span>
            <div id="quizProgressBarContainer" class="progress-bar-container">
              <div id="quizProgress" class="progress-bar"></div>
            </div>
            <span class="progress-label">Score Progress:</span>
            <div id="quizScoreBarContainer" class="progress-bar-container">
              <div id="quizScoreBar" class="progress-bar"></div>
            </div>
        </div>
        <div id="quizResult" aria-live="polite"></div>
      </div>